@use "variables" as v;
.contenedor-presentacion {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap; 

.foto {
    flex-shrink: 0; 
    width: 320px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.texto {
    font-style: normal;
    flex: 1; 
    font-size: 1rem;
    line-height: 1.4;
    color: black;
    text-align: justify;
}
}