@use "variables" as v;
.contenedor-presentacion {
    display: flex;
  flex-direction: row; // imagen a la izquierda, texto a la derecha
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap; // para que en pantallas chicas el texto baje debajo de la imagen

.foto {
    flex-shrink: 0; // no se achica
    width: 320px; // tamaño un poco más grande
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.texto {
    font-family: cursive;
    flex: 1; // ocupa todo el espacio restante
    font-size: 1rem;
    line-height: 1.4;
    color: black;
    text-align: justify;
}
}